body {
  margin: 0;
}

.print-page {
  break-after: page;
}

@page {
  size: A4;
  margin: 12mm;
}

@media print {
  body {
    background: white;
  }

  .print-page {
    margin: 0;

    box-shadow: none;

    border: none;
  }
}
